/*基础样式*/
body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,iput{margin:0;padding:0;}

body{font-size:12px;}

img{border:none;}

li{list-style:none;}


input,select,textarea{outline:none;border: none;background: none}

textarea{resize:none;}
a{text-decoration:none;
color: #666666}

/*清除浮动*/
.clearfloat{zoom:1;}
.clearfloat:after{content:"";display:block;clear:both;}
.fl{
    float: left;
}
.fr{
    float: right;
}

